<!DOCTYPE html>
<html>
<head>
	<title>Vuetro 0.5</title>
  <!-- Add Bootstrap Styling -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <style type="text/css">
    [v-cloak] { display: none; }
  </style>
</head>
<body>

<div class="container" id="app" vcloak>

  <heading></heading>
  <br />
  <create></create>
  <br />
  <laundry></laundry>

</div>

<template id="laundry">
  <div v-if="tasks.length">
    <h2>Laundry Tasks</h2>
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Task Name</th>
        <th>Duration</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(task, index) in tasks">
        <td>{{ index + 1 }}</td>
        <td>{{ task.title }}</td>
        <td class="form-inline"><input class="form-control" type="number" v-model="task.time" step="0.25" min="0" max="6"/> hr</td>
      </tr>
      </tbody>

    </table>
    <p><strong>Total Time:</strong> {{ totalTime(tasks) }} hours</p>
  </div>
</template>

<!-- Vue js development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- loading Vue intialization file -->
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
